In [2]:
import pandas as pd
last_df = pd.read_csv("Chicago_Airbnb_Master_v2.csv")

last_df.head()

,listing_id,price,accommodates,bedrooms,bathrooms,room_type,property_type,review_scores_rating,occupancy_proxy,weekend_occupancy_proxy,...,property_type_clean_Entire rental unit,property_type_clean_Other,property_type_clean_Private room in home,property_type_clean_Private room in rental unit,Amenity_PCA_1,Amenity_PCA_2,Amenity_PCA_3,Amenity_PCA_4,Amenity_PCA_5,Cluster_ID
0,2384,119.0,1,1.0,1.0,Private room,Private room in condo,4.99,0.046575,0.048077,...,False,True,False,False,1.329295,-0.556898,0.175128,0.020727,-0.516094,2
1,7126,89.0,2,1.0,1.0,Entire home/apt,Entire rental unit,4.73,0.172603,0.182692,...,True,False,False,False,1.069204,-0.294257,-0.189411,0.683348,-0.733898,1
2,10945,203.0,4,2.0,1.0,Entire home/apt,Entire rental unit,4.74,0.109589,0.115385,...,True,False,False,False,0.790668,0.690923,-0.934136,0.427567,0.066287,1
3,12140,339.0,3,1.0,1.0,Private room,Room in boutique hotel,4.95,0.572603,0.605769,...,False,True,False,False,-0.808734,-1.063261,-0.307421,-1.043370,-2.125492,2
4,28749,258.0,6,3.0,2.0,Entire home/apt,Entire loft,4.83,0.797260,0.807692,...,False,True,False,False,2.228907,0.735227,1.409986,0.004789,-0.312622,1

In [3]:
geo_df = pd.read_csv("Geospatial_Engineering_v3.csv")

geo_df.head()

,id,price,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile
0,2384,119.0,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0
1,7126,89.0,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0
2,10945,203.0,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0
3,12140,339.0,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0
4,28749,258.0,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0

In [5]:
if "id" in geo_df.columns:
    geo_df = geo_df.rename(columns={"id": "listing_id"})

geo_df.head()

,listing_id,price,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile
0,2384,119.0,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0
1,7126,89.0,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0
2,10945,203.0,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0
3,12140,339.0,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0
4,28749,258.0,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0

In [6]:
print("master_v2 columns:")
print(last_df.columns.tolist())

print("\ngeo_master columns:")
print(geo_df.columns.tolist())

master_v2 columns:
['listing_id', 'price', 'accommodates', 'bedrooms', 'bathrooms', 'room_type', 'property_type', 'review_scores_rating', 'occupancy_proxy', 'weekend_occupancy_proxy', 'summer_occupancy_proxy', 'winter_occupancy_proxy', 'total_review_count', 'recent_review_count', 'avg_review_length', 'estimated_annual_revenue', 'log_revenue', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood_cleansed', 'latitude', 'longitude', 'beds', 'minimum_nights', 'maximum_nights', 'has_availability', 'availability_30', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'number_of_reviews_ly', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'reviews_per_month', 'room_type_Hotel room', 'room_type_Private room', 'room_type_Shared room', 'property_type_clean_Entire home', 'property_type_clean_Entire rental unit', 'property_type_clean_Other', 'property_type_clean_Private room in home', 'property_type_clean_Private room in rental unit', 'Amenity_PCA_1', 'Amenity_PCA_2', 'Amenity_PCA_3', 'Amenity_PCA_4', 'Amenity_PCA_5', 'Cluster_ID']

geo_master columns:
['listing_id', 'price', 'dist_navy_pier_miles', 'is_landmark_proximate', 'transit_north_premium', 'is_premium_transit_hub', 'shoreline_gravity', 'dist_to_nearest_beach_miles', 'crime_density_total', 'nb_homicides_half_mile']

In [7]:
geo_df = geo_df.drop("price", axis=1)

geo_df.head()

,listing_id,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile
0,2384,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0
1,7126,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0
2,10945,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0
3,12140,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0
4,28749,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0

In [8]:
master_v3 = last_df.merge(
    geo_df,
    on="listing_id",
    how="left",
    validate="one_to_one"
)

print(master_v3.columns.tolist())

['listing_id', 'price', 'accommodates', 'bedrooms', 'bathrooms', 'room_type', 'property_type', 'review_scores_rating', 'occupancy_proxy', 'weekend_occupancy_proxy', 'summer_occupancy_proxy', 'winter_occupancy_proxy', 'total_review_count', 'recent_review_count', 'avg_review_length', 'estimated_annual_revenue', 'log_revenue', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood_cleansed', 'latitude', 'longitude', 'beds', 'minimum_nights', 'maximum_nights', 'has_availability', 'availability_30', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'number_of_reviews_ly', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'reviews_per_month', 'room_type_Hotel room', 'room_type_Private room', 'room_type_Shared room', 'property_type_clean_Entire home', 'property_type_clean_Entire rental unit', 'property_type_clean_Other', 'property_type_clean_Private room in home', 'property_type_clean_Private room in rental unit', 'Amenity_PCA_1', 'Amenity_PCA_2', 'Amenity_PCA_3', 'Amenity_PCA_4', 'Amenity_PCA_5', 'Cluster_ID', 'dist_navy_pier_miles', 'is_landmark_proximate', 'transit_north_premium', 'is_premium_transit_hub', 'shoreline_gravity', 'dist_to_nearest_beach_miles', 'crime_density_total', 'nb_homicides_half_mile']

In [9]:
print("Rows:", master_v3.shape[0])
print("Duplicate listing_id:", master_v3["listing_id"].duplicated().sum())
print("Missing cluster labels:", master_v3["dist_navy_pier_miles"].isna().sum())

Rows: 7306
Duplicate listing_id: 0
Missing cluster labels: 0

In [10]:
master_v3.to_csv("Chicago_Airbnb_Master_v3.csv", index=False)