In [6]:
import pandas as pd
last_df = pd.read_csv("Chicago_Airbnb_Master_v2.csv")

last_df.head()

,listing_id,price,accommodates,bedrooms,bathrooms,room_type,property_type,review_scores_rating,occupancy_proxy,weekend_occupancy_proxy,...,property_type_clean_Entire rental unit,property_type_clean_Other,property_type_clean_Private room in home,property_type_clean_Private room in rental unit,Amenity_PCA_1,Amenity_PCA_2,Amenity_PCA_3,Amenity_PCA_4,Amenity_PCA_5,Cluster_ID
0,2384,119.0,1,1.0,1.0,Private room,Private room in condo,4.99,0.046575,0.048077,...,False,True,False,False,1.329295,-0.556898,0.175128,0.020727,-0.516094,2
1,7126,89.0,2,1.0,1.0,Entire home/apt,Entire rental unit,4.73,0.172603,0.182692,...,True,False,False,False,1.069204,-0.294257,-0.189411,0.683348,-0.733898,1
2,10945,203.0,4,2.0,1.0,Entire home/apt,Entire rental unit,4.74,0.109589,0.115385,...,True,False,False,False,0.790668,0.690923,-0.934136,0.427567,0.066287,1
3,12140,339.0,3,1.0,1.0,Private room,Room in boutique hotel,4.95,0.572603,0.605769,...,False,True,False,False,-0.808734,-1.063261,-0.307421,-1.043370,-2.125492,2
4,28749,258.0,6,3.0,2.0,Entire home/apt,Entire loft,4.83,0.797260,0.807692,...,False,True,False,False,2.228907,0.735227,1.409986,0.004789,-0.312622,1

In [7]:
geo_df = pd.read_csv("Geospatial_Engineering_v3.csv")

geo_df.head()

,id,price,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile
0,2384,119.0,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0
1,7126,89.0,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0
2,10945,203.0,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0
3,12140,339.0,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0
4,28749,258.0,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0

In [8]:
if "id" in geo_df.columns:
    geo_df = geo_df.rename(columns={"id": "listing_id"})

geo_df.head()

,listing_id,price,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile
0,2384,119.0,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0
1,7126,89.0,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0
2,10945,203.0,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0
3,12140,339.0,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0
4,28749,258.0,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0

In [9]:
print("master_v2 columns:")
print(last_df.columns.tolist())

print("\ngeo_master columns:")
print(geo_df.columns.tolist())

master_v2 columns:
['listing_id', 'price', 'accommodates', 'bedrooms', 'bathrooms', 'room_type', 'property_type', 'review_scores_rating', 'occupancy_proxy', 'weekend_occupancy_proxy', 'summer_occupancy_proxy', 'winter_occupancy_proxy', 'total_review_count', 'recent_review_count', 'avg_review_length', 'estimated_annual_revenue', 'log_revenue', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood_cleansed', 'latitude', 'longitude', 'beds', 'minimum_nights', 'maximum_nights', 'has_availability', 'availability_30', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'number_of_reviews_ly', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'reviews_per_month', 'room_type_Hotel room', 'room_type_Private room', 'room_type_Shared room', 'property_type_clean_Entire home', 'property_type_clean_Entire rental unit', 'property_type_clean_Other', 'property_type_clean_Private room in home', 'property_type_clean_Private room in rental unit', 'Amenity_PCA_1', 'Amenity_PCA_2', 'Amenity_PCA_3', 'Amenity_PCA_4', 'Amenity_PCA_5', 'Cluster_ID']

geo_master columns:
['listing_id', 'price', 'dist_navy_pier_miles', 'is_landmark_proximate', 'transit_north_premium', 'is_premium_transit_hub', 'shoreline_gravity', 'dist_to_nearest_beach_miles', 'crime_density_total', 'nb_homicides_half_mile']

In [10]:
geo_df = geo_df.drop("price", axis=1)

geo_df.head()

,listing_id,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile
0,2384,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0
1,7126,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0
2,10945,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0
3,12140,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0
4,28749,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0

In [11]:
master_v3 = last_df.merge(
    geo_df,
    on="listing_id",
    how="left",
    validate="one_to_one"
)

print(master_v3.columns.tolist())

['listing_id', 'price', 'accommodates', 'bedrooms', 'bathrooms', 'room_type', 'property_type', 'review_scores_rating', 'occupancy_proxy', 'weekend_occupancy_proxy', 'summer_occupancy_proxy', 'winter_occupancy_proxy', 'total_review_count', 'recent_review_count', 'avg_review_length', 'estimated_annual_revenue', 'log_revenue', 'host_is_superhost', 'host_listings_count', 'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood_cleansed', 'latitude', 'longitude', 'beds', 'minimum_nights', 'maximum_nights', 'has_availability', 'availability_30', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'number_of_reviews_ly', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'reviews_per_month', 'room_type_Hotel room', 'room_type_Private room', 'room_type_Shared room', 'property_type_clean_Entire home', 'property_type_clean_Entire rental unit', 'property_type_clean_Other', 'property_type_clean_Private room in home', 'property_type_clean_Private room in rental unit', 'Amenity_PCA_1', 'Amenity_PCA_2', 'Amenity_PCA_3', 'Amenity_PCA_4', 'Amenity_PCA_5', 'Cluster_ID', 'dist_navy_pier_miles', 'is_landmark_proximate', 'transit_north_premium', 'is_premium_transit_hub', 'shoreline_gravity', 'dist_to_nearest_beach_miles', 'crime_density_total', 'nb_homicides_half_mile']

In [12]:
print("Rows:", master_v3.shape[0])
print("Duplicate listing_id:", master_v3["listing_id"].duplicated().sum())
print("Missing cluster labels:", master_v3["dist_navy_pier_miles"].isna().sum())

Rows: 7306
Duplicate listing_id: 0
Missing cluster labels: 0

In [13]:
master_v3.to_csv("Chicago_Airbnb_Master_v3.csv", index=False)

## cluster by region

In [48]:
!pip install geopandas

Requirement already satisfied: geopandas in /opt/anaconda3/lib/python3.13/site-packages (1.1.2)
Requirement already satisfied: numpy>=1.24 in /opt/anaconda3/lib/python3.13/site-packages (from geopandas) (2.1.3)
Requirement already satisfied: pyogrio>=0.7.2 in /opt/anaconda3/lib/python3.13/site-packages (from geopandas) (0.12.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.13/site-packages (from geopandas) (24.2)
Requirement already satisfied: pandas>=2.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from geopandas) (2.2.3)
Requirement already satisfied: pyproj>=3.5.0 in /opt/anaconda3/lib/python3.13/site-packages (from geopandas) (3.7.2)
Requirement already satisfied: shapely>=2.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from geopandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.0.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.0.0->geopandas) (2025.2)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.13/site-packages (from pyogrio>=0.7.2->geopandas) (2026.1.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)

In [49]:
import geopandas as gpd

geo = gpd.read_file("neighbourhoods.geojson")
geo.head()

,neighbourhood,neighbourhood_group,geometry
0,Lincoln Square,None,"MULTIPOLYGON (((-87.6744 41.9761, -87.6744 41...."
1,Hyde Park,None,"MULTIPOLYGON (((-87.58037 41.80252, -87.58039 ..."
2,Woodlawn,None,"MULTIPOLYGON (((-87.57714 41.78614, -87.57714 ..."
3,Rogers Park,None,"MULTIPOLYGON (((-87.65455 41.99816, -87.65573 ..."
4,Jefferson Park,None,"MULTIPOLYGON (((-87.75263 41.96797, -87.75278 ..."

In [50]:
geo.columns

Index(['neighbourhood', 'neighbourhood_group', 'geometry'], dtype='object')

In [51]:
geo.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [52]:
from shapely.geometry import Point

gdf_listings = gpd.GeoDataFrame(
    master_v3,
    geometry=gpd.points_from_xy(master_v3["longitude"], master_v3["latitude"]),
    crs="EPSG:4326"
)

In [53]:
type(gdf_listings)

geopandas.geodataframe.GeoDataFrame

In [54]:
gdf_listings.head()

,listing_id,price,accommodates,bedrooms,bathrooms,room_type,property_type,review_scores_rating,occupancy_proxy,weekend_occupancy_proxy,...,Cluster_ID,dist_navy_pier_miles,is_landmark_proximate,transit_north_premium,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile,geometry
0,2384,119.0,1,1.0,1.0,Private room,Private room in condo,4.99,0.046575,0.048077,...,2,7.2169,0,0.0450,0.3697,0.5992,0.5271,390.6212,0,POINT (-87.5878 41.7879)
1,7126,89.0,2,1.0,1.0,Entire home/apt,Entire rental unit,4.73,0.172603,0.182692,...,1,3.9539,0,0.1365,0.0000,0.2589,2.9792,314.0505,0,POINT (-87.68021 41.90166)
2,10945,203.0,4,2.0,1.0,Entire home/apt,Entire rental unit,4.74,0.109589,0.115385,...,1,2.2875,0,0.2141,0.7038,0.5976,0.8182,253.4784,0,POINT (-87.63981 41.91196)
3,12140,339.0,3,1.0,1.0,Private room,Room in boutique hotel,4.95,0.572603,0.605769,...,2,3.1884,0,0.1755,0.7350,0.5051,1.4270,253.4784,0,POINT (-87.64947 41.92357)
4,28749,258.0,6,3.0,2.0,Entire home/apt,Entire loft,4.83,0.797260,0.807692,...,1,4.3352,0,0.1361,0.7260,0.2820,2.8707,258.2845,0,POINT (-87.67961 41.92023)

In [55]:
gdf_joined = gpd.sjoin(
    gdf_listings,
    geo[["neighbourhood", "geometry"]],
    how="left",
    predicate="within"
)

In [56]:
gdf_joined[["listing_id", "Cluster_ID", "neighbourhood"]].head()

   listing_id  Cluster_ID neighbourhood
0        2384           2     Hyde Park
1        7126           1     West Town
2       10945           1  Lincoln Park
3       12140           2  Lincoln Park
4       28749           1  Logan Square

In [57]:
gdf_joined["neighbourhood"].isna().sum()

np.int64(0)

### Local Price Power

How expensive is this neighborhood relative to the city?

In [58]:
neigh_price = (
    gdf_joined
    .groupby("neighbourhood")["price"]
    .median()
    .reset_index()
    .rename(columns={"price": "neigh_median_price"})
)

In [59]:
city_median_price = gdf_joined["price"].median()

In [60]:
neigh_price["neigh_price_index"] = (
    neigh_price["neigh_median_price"] / city_median_price
)

neigh_price.head()

    neighbourhood  neigh_median_price  neigh_price_index
0     Albany Park               102.5           0.687919
1  Archer Heights                80.5           0.540268
2   Armour Square               137.0           0.919463
3         Ashburn               125.0           0.838926
4  Auburn Gresham               141.5           0.949664

### Local Demand Strength (Occupancy Proxy)

Captures neighborhood demand

In [61]:
neigh_occ = (
    gdf_joined
    .groupby("neighbourhood")["occupancy_proxy"]
    .mean()
    .reset_index()
    .rename(columns={"occupancy_proxy": "neigh_avg_occ"})
)

### Competitive Intensity

Captures supply pressure

In [62]:
neigh_comp = (
    gdf_joined
    .groupby("neighbourhood")["listing_id"]
    .count()
    .reset_index()
    .rename(columns={"listing_id": "neigh_listing_count"})
)

import numpy as np
neigh_comp["neigh_log_competition"] = np.log1p(
    neigh_comp["neigh_listing_count"]
)

## Relative Positioning (High Signal)

Captures listing pricing strategy

In [63]:
master_geo = gdf_joined.merge(neigh_price, on="neighbourhood", how="left")

master_geo["price_vs_neigh_median"] = (
    master_geo["price"] / master_geo["neigh_median_price"]
)

## Distance to CBD (Economic Gradient)

In [64]:
downtown_lat = 41.8781
downtown_lon = -87.6298

In [65]:
!pip install geopy

Requirement already satisfied: geopy in /opt/anaconda3/lib/python3.13/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/anaconda3/lib/python3.13/site-packages (from geopy) (2.1)

In [66]:
from geopy.distance import geodesic

master_geo["distance_to_downtown_km"] = master_geo.apply(
    lambda row: geodesic(
        (row["latitude"], row["longitude"]),
        (downtown_lat, downtown_lon)
    ).km,
    axis=1
)

In [67]:
master_geo.columns.tolist()

['listing_id',
 'price',
 'accommodates',
 'bedrooms',
 'bathrooms',
 'room_type',
 'property_type',
 'review_scores_rating',
 'occupancy_proxy',
 'weekend_occupancy_proxy',
 'summer_occupancy_proxy',
 'winter_occupancy_proxy',
 'total_review_count',
 'recent_review_count',
 'avg_review_length',
 'estimated_annual_revenue',
 'log_revenue',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood_cleansed',
 'latitude',
 'longitude',
 'beds',
 'minimum_nights',
 'maximum_nights',
 'has_availability',
 'availability_30',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'number_of_reviews_ly',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'reviews_per_month',
 'room_type_Hotel room',
 'room_type_Private room',
 'room_type_Shared room',
 'property_type_clean_Entire home',
 'property_type_clean_Entire rental unit',
 'property_type_clean_Other',
 'property_type_clean_Private room in home',
 'property_type_clean_Private room in rental unit',
 'Amenity_PCA_1',
 'Amenity_PCA_2',
 'Amenity_PCA_3',
 'Amenity_PCA_4',
 'Amenity_PCA_5',
 'Cluster_ID',
 'dist_navy_pier_miles',
 'is_landmark_proximate',
 'transit_north_premium',
 'is_premium_transit_hub',
 'shoreline_gravity',
 'dist_to_nearest_beach_miles',
 'crime_density_total',
 'nb_homicides_half_mile',
 'geometry',
 'index_right',
 'neighbourhood',
 'neigh_median_price',
 'neigh_price_index',
 'price_vs_neigh_median',
 'distance_to_downtown_km']

In [69]:
# Merge occupancy
master_geo = master_geo.merge(
    neigh_occ,
    on="neighbourhood",
    how="left",
    validate="many_to_one"
)

# Merge competition
master_geo = master_geo.merge(
    neigh_comp[["neighbourhood", "neigh_log_competition"]],
    on="neighbourhood",
    how="left",
    validate="many_to_one"
)

In [70]:
[c for c in master_geo.columns if "neigh" in c]

['neighbourhood_cleansed',
 'neighbourhood',
 'neigh_median_price',
 'neigh_price_index',
 'price_vs_neigh_median',
 'neigh_avg_occ',
 'neigh_log_competition']

### Checking Features

In [71]:
geo_features = [
    "neigh_price_index",
    "neigh_avg_occ",
    "neigh_log_competition",
    "price_vs_neigh_median",
    "distance_to_downtown_km"
]

master_geo[geo_features + ["log_revenue"]].corr()["log_revenue"].sort_values(ascending=False)

log_revenue                1.000000
neigh_log_competition      0.184864
neigh_price_index          0.177020
price_vs_neigh_median      0.150821
neigh_avg_occ              0.142492
distance_to_downtown_km   -0.112193
Name: log_revenue, dtype: float64

In [72]:
master_geo[[
    "neigh_price_index",
    "price_vs_neigh_median"
]].corr()

                       neigh_price_index  price_vs_neigh_median
neigh_price_index               1.000000              -0.013744
price_vs_neigh_median          -0.013744               1.000000

In [73]:
geo_keep = [
    "listing_id",
    "neigh_log_competition",
    "neigh_price_index",
    "price_vs_neigh_median",
    "distance_to_downtown_km",
    "neigh_avg_occ"
]

geo_keep = [c for c in geo_keep if c in master_geo.columns]

In [74]:
master_v4 = master_v3.merge(
    master_geo[geo_keep],
    on="listing_id",
    how="left",
    validate="one_to_one"
)

master_v4.head()

,listing_id,price,accommodates,bedrooms,bathrooms,room_type,property_type,review_scores_rating,occupancy_proxy,weekend_occupancy_proxy,...,is_premium_transit_hub,shoreline_gravity,dist_to_nearest_beach_miles,crime_density_total,nb_homicides_half_mile,neigh_log_competition,neigh_price_index,price_vs_neigh_median,distance_to_downtown_km,neigh_avg_occ
0,2384,119.0,1,1.0,1.0,Private room,Private room in condo,4.99,0.046575,0.048077,...,0.3697,0.5992,0.5271,390.6212,0,4.488636,0.714765,1.117371,10.608606,0.441002
1,7126,89.0,2,1.0,1.0,Entire home/apt,Entire rental unit,4.73,0.172603,0.182692,...,0.0000,0.2589,2.9792,314.0505,0,6.496775,1.077181,0.554517,4.934691,0.342197
2,10945,203.0,4,2.0,1.0,Entire home/apt,Entire rental unit,4.74,0.109589,0.115385,...,0.7038,0.5976,0.8182,253.4784,0,5.533389,1.362416,1.000000,3.851522,0.328517
3,12140,339.0,3,1.0,1.0,Private room,Room in boutique hotel,4.95,0.572603,0.605769,...,0.7350,0.5051,1.4270,253.4784,0,5.533389,1.362416,1.669951,5.307615,0.328517
4,28749,258.0,6,3.0,2.0,Entire home/apt,Entire loft,4.83,0.797260,0.807692,...,0.7260,0.2820,2.8707,258.2845,0,6.013715,0.869128,1.992278,6.243387,0.422636

In [87]:
master_v4 = master_v4.drop(
    ['latitude', 'longitude', 'neighbourhood_cleansed'],
    axis=1
)

In [88]:
master_v4.to_csv("Chicago_Airbnb_Master_v4.csv", index=False)

In [89]:
master_v4.columns.tolist()

['listing_id',
 'price',
 'accommodates',
 'bedrooms',
 'bathrooms',
 'room_type',
 'property_type',
 'review_scores_rating',
 'occupancy_proxy',
 'weekend_occupancy_proxy',
 'summer_occupancy_proxy',
 'winter_occupancy_proxy',
 'total_review_count',
 'recent_review_count',
 'avg_review_length',
 'estimated_annual_revenue',
 'log_revenue',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified',
 'beds',
 'minimum_nights',
 'maximum_nights',
 'has_availability',
 'availability_30',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'number_of_reviews_ly',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'reviews_per_month',
 'room_type_Hotel room',
 'room_type_Private room',
 'room_type_Shared room',
 'property_type_clean_Entire home',
 'property_type_clean_Entire rental unit',
 'property_type_clean_Other',
 'property_type_clean_Private room in home',
 'property_type_clean_Private room in rental unit',
 'Amenity_PCA_1',
 'Amenity_PCA_2',
 'Amenity_PCA_3',
 'Amenity_PCA_4',
 'Amenity_PCA_5',
 'Cluster_ID',
 'dist_navy_pier_miles',
 'is_landmark_proximate',
 'transit_north_premium',
 'is_premium_transit_hub',
 'shoreline_gravity',
 'dist_to_nearest_beach_miles',
 'crime_density_total',
 'nb_homicides_half_mile',
 'neigh_log_competition',
 'neigh_price_index',
 'price_vs_neigh_median',
 'distance_to_downtown_km',
 'neigh_avg_occ']